body {
    background-image: URL(image/music2.jpg);
}
div.transbox{
	margin: 5%;
	background-color: #858585;
	opacity: 0.9;
	filter: alpha(opacity=60);
}
div.transbox p h1{
	margin: 5%;
}
h1{
	font-family: "Comic Sans MS", Arial;
	font-size: 28pt;
	color: #000000;
	text-align: center;
} 
h2{
	font-family: "Comic Sans MS", Arial;
	font-size: 20pt;
	color: #000000;
	text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	width: 30%;
}
t{
	font-family: "Comic Sans MS", Arial;
	font-size: 16pt;
	color: #000000;
	text-align: center;
}
p{
	font-family: "Comic Sans MS", Arial;
	font-size: 18pt;
	color: #000000;
	text-align: center;
}

.pic {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 25%;
}
